.html-document {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    margin-top: calc(1.425rem + 2.1vw);
    margin-bottom: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .html-document {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

.html-document .inner {
    max-height: 31.25em;
    padding: 1rem;
    overflow-y: scroll;
    background-color: #fff;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif
}

.html-document .page {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    background-color: #fff
}

.html-document .page img {
    border: 0;
    border-radius: 0
}

.html-document h2 {
    margin-top: 0;
    margin-bottom: 1em;
    padding-bottom: .25em;
    border-bottom: 3px solid #292929;
    font-size: 1rem;
    font-family: inherit;
    text-align: center;
    text-transform: uppercase
}

.html-document h3 {
    margin-top: 2em;
    margin-bottom: 1em;
    font-size: 0.75rem
}

.html-document p,
.html-document ol,
.html-document ul,
.html-document th,
.html-document td {
    font-size: 0.75rem;
    line-height: 1.15
}

.html-document p,
.html-document ol,
.html-document ul {
    margin-bottom: 1em
}

.html-document p:last-child,
.html-document ol:last-child,
.html-document ul:last-child {
    margin-bottom: 0
}

.html-document ol,
.html-document ul {
    padding-left: 1.75em
}

.html-document ol li,
.html-document ul li {
    margin-bottom: 1em
}

.html-document ol li:last-child,
.html-document ul li:last-child {
    margin-bottom: 0
}

.html-document ol ol,
.html-document ol ul,
.html-document ul ol,
.html-document ul ul {
    padding-top: .75em
}

.html-document ol ol li {
    list-style-type: lower-alpha
}

.html-document .table-container {
    margin-bottom: 0;
    overflow: initial
}

.html-document footer {
    display: flex;
    border-top: 1px solid #bdbdbd
}

.html-document footer div {
    display: flex;
    flex: 1 1 0;
    justify-content: center;
    padding: 1.5em
}

.html-document footer div+div {
    border-left: 1px solid #bdbdbd
}

@media(max-width: 560px) {
    .html-document .inner {
        max-height: 18.75em
    }

    .html-document footer {
        border: 0
    }
}

@media(max-width: 768px) {

    .sticky-style-none .site-header,
    .sticky-style-cta .site-header {
        position: relative;
        top: auto;
        left: auto;
        margin-bottom: 0;
        box-shadow: none
    }
}

.document {
    margin-bottom: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
    .document {
        margin-bottom: 4rem
    }
}

.document:last-child {
    margin-bottom: 0
}

.document-breadcrumbs {
    margin-bottom: 1.5em
}

.document-breadcrumbs>.wrap {
    width: 100%;
    max-width: 73.5em;
    margin: 0 auto;
    padding-right: .75em;
    padding-left: .75em
}

.style-options .document-hero {
    padding-bottom: calc(1.525rem + 3.3vw);
    text-align: center
}

@media (min-width: 1200px) {
    .style-options .document-hero {
        padding-bottom: 4rem
    }
}

.style-options .document-hero h1+p {
    font-size: calc(1.275rem + 0.3vw)
}

@media (min-width: 1200px) {
    .style-options .document-hero h1+p {
        font-size: 1.5rem
    }
}

.style-image .document-hero.large-image {
    overflow: hidden
}

.style-image .document-hero {
    padding-bottom: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
    .style-image .document-hero {
        padding-bottom: 4rem
    }
}

.style-image .document-hero>.wrap {
    display: flex;
    align-items: center
}

.style-image .document-hero .inner {
    width: calc(100% - 22em - 3em)
}

.style-image .document-hero .image {
    width: 22em;
    margin-left: 3em
}

.style-image .document-hero img {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    display: block
}

.style-default .document-hero {
    padding-bottom: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
    .style-default .document-hero {
        padding-bottom: 4rem
    }
}

.document-hero.has-options.style-large .document-hero-options .block,
.document-hero.has-options.style-small .document-hero-options .block,
.document-hero.has-options.style-text .document-hero-options .block {
    border: none;
    box-shadow: 0px .25em .5em rgba(232, 236, 247, .8)
}

.document-hero.has-options.style-large .document-hero-options .block.has-submit-button.selected,
.document-hero.has-options.style-small .document-hero-options .block.has-submit-button.selected,
.document-hero.has-options.style-text .document-hero-options .block.has-submit-button.selected {
    background-color: #4b62f9;
    color: #fff
}

.document-hero.has-options.style-large .document-hero-options .block.has-submit-button.selected img,
.document-hero.has-options.style-small .document-hero-options .block.has-submit-button.selected img,
.document-hero.has-options.style-text .document-hero-options .block.has-submit-button.selected img {
    filter: brightness(0) invert(1)
}

.document-hero.has-options.style-large .document-hero-options .block.has-submit-button.selected span,
.document-hero.has-options.style-small .document-hero-options .block.has-submit-button.selected span,
.document-hero.has-options.style-text .document-hero-options .block.has-submit-button.selected span {
    font-weight: normal
}

.document-hero.has-options.style-large .document-hero-options .block img,
.document-hero.has-options.style-small .document-hero-options .block img,
.document-hero.has-options.style-text .document-hero-options .block img {
    margin-bottom: 0
}

.document-hero.has-options.style-small .document-hero-options .blocks,
.document-hero.has-options.style-text .document-hero-options .blocks {
    grid-template-columns: 1fr 1fr
}

.document-hero.has-options.style-small .document-hero-options .block:nth-child(odd):last-child,
.document-hero.has-options.style-text .document-hero-options .block:nth-child(odd):last-child {
    grid-column: auto/span 2
}

.document-hero.has-options.style-small .document-hero-options .block {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .75em
}

.document-hero.has-options.style-small .document-hero-options .block img {
    flex: 0 0 auto;
    width: 2em;
    margin: 0
}

.document-hero.has-options.style-text .document-hero-options .blocks.grid-3 {
    display: flex
}

.document-hero.has-options.style-text .document-hero-options .blocks.grid-3 .block {
    flex: 1 1 auto;
    padding-right: 1.5em;
    padding-left: 1.5em
}

.document-hero.has-options.style-text .document-hero-options .block.has-submit-button span {
    font-weight: bold
}

.document-hero.has-options.style-text .document-hero-options .block.has-submit-button.selected span {
    font-weight: bold
}

.document-hero.has-options.style-text .document-hero-options .block img {
    display: none
}

.document-hero>.wrap {
    width: 100%;
    max-width: 73.5em;
    margin: 0 auto;
    padding-right: .75em;
    padding-left: .75em
}

.style-default .document-hero>.wrap {
    padding-right: 0;
    padding-left: 0
}

.document-hero h1 {
    margin-bottom: .5em
}

.document-hero p {
    margin-bottom: 2em;
    color: #757575;
    font-size: calc(1.26rem + 0.12vw)
}

@media (min-width: 1200px) {
    .document-hero p {
        font-size: 1.35rem
    }
}

.document-hero p:last-child {
    margin-bottom: 0
}

.wpr_mobile_featured_top .document-hero .btn.wprPreviewDoc,
.wpr_mobile_featured_top .document-hero img {
    margin: 0 auto 2em;
    display: block
}

@media(min-width: 769px) {

    .wpr_mobile_featured_top .document-hero .btn.wprPreviewDoc,
    .wpr_mobile_featured_top .document-hero img {
        display: none
    }
}

.wpr_mobile_featured_top .document-hero .btn.wprPreviewDoc {
    border: 1px solid #bdbdbd;
    border-color: #4b62f9;
    color: #4b62f9;
    text-transform: initial
}

.document-hero .document-sidebar {
    border: 0;
    padding: .2em 0
}

@media(max-width: 767px) {
    .style-image .document-hero.large-image .inner {
        padding-bottom: 0
    }

    .style-image .document-hero>.wrap {
        display: block
    }

    .style-image .document-hero .inner {
        width: 100%
    }

    .style-image .document-hero .image {
        display: none
    }
}

@media(max-width: 560px) {
    .document-hero.has-options {
        padding-top: calc(1.525rem + 3.3vw);
        padding-bottom: calc(1.525rem + 3.3vw);
        background-color: #f5f8ff
    }

    @media (min-width: 1200px) {
        .document-hero.has-options {
            padding-top: 4rem;
            padding-bottom: 4rem
        }
    }

    .document-hero.has-options.style-large,
    .document-hero.has-options.style-small,
    .document-hero.has-options.style-text {
        padding-top: 1.5em;
        padding-bottom: 1.5em
    }

    .document-hero.has-options.style-large .inner,
    .document-hero.has-options.style-small .inner,
    .document-hero.has-options.style-text .inner {
        text-align: left
    }

    .document-hero.has-options.style-large .document-hero-dropdown,
    .document-hero.has-options.style-small .document-hero-dropdown,
    .document-hero.has-options.style-text .document-hero-dropdown {
        margin-bottom: 0
    }

    .document-hero.has-options.style-large .document-hero-options,
    .document-hero.has-options.style-small .document-hero-options,
    .document-hero.has-options.style-text .document-hero-options {
        margin-bottom: 0
    }

    .document-hero.has-options.style-large .document-hero-options .block,
    .document-hero.has-options.style-small .document-hero-options .block,
    .document-hero.has-options.style-text .document-hero-options .block {
        padding: 1em;
        text-align: center
    }

    .document-hero.has-options.style-large p,
    .document-hero.has-options.style-small p,
    .document-hero.has-options.style-text p {
        margin-bottom: 0
    }

    .document-hero.has-options.style-small .document-hero-options .block,
    .document-hero.has-options.style-text .document-hero-options .block {
        padding: .75em
    }
}

#js-document-state-dropdown {
    height: 7.5em
}

@media(max-width: 767px) {
    #js-document-state-dropdown {
        height: 11.875em
    }
}

.document-hero-dropdown {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 32em
}

.style-options .document-hero-dropdown {
    justify-content: center;
    margin: 0 auto 1.5em
}

.document-hero-dropdown.has-document-select.has-state-select {
    flex-wrap: wrap
}

.document-hero-dropdown.has-document-select.has-state-select .document-select {
    flex: 1 1 auto;
    width: 100%;
    margin-right: 0;
    margin-bottom: 1em
}

.document-hero-dropdown.has-document-select.has-state-select .state-select {
    flex: 1 1 auto
}

.document-hero-dropdown .styled-select {
    flex: 1 1 0;
    margin-right: 1em
}

.document-hero-dropdown .btn-solid {
    flex: 0 0 auto
}

@media(max-width: 1023px) {
    .document-hero-dropdown {
        display: block
    }

    .document-hero-dropdown .styled-select {
        width: 100%;
        margin-right: 0;
        margin-bottom: 1em
    }

    .document-hero-dropdown .btn-solid {
        width: 100%
    }
}

.document-hero-options .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: calc(1.3rem + 0.6vw);
    padding-top: 1em;
    gap: 1.75em
}

@media (min-width: 1200px) {
    .document-hero-options .blocks {
        margin-bottom: 1.75rem
    }
}

.document-hero-options .block {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    width: 10.5em;
    padding: 1.25em 1.25em 1.5em;
    background-color: #fff;
    cursor: pointer;
    transition: all .15s ease-in-out
}

@media(max-width: 559px) {
    .document-hero-options .block {
        width: 9em
    }
}

.document-hero-options .block.has-submit-button.selected {
    border-color: #292929
}

.document-hero-options .block.has-submit-button.selected span {
    font-weight: bold
}

.document-hero-options .block input[type=radio] {
    clip: rect(1px, 1px, 1px, 1px);
    word-wrap: normal !important;
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%)
}

.document-hero-options .block img {
    display: block;
    margin: 0 auto .75em
}

.document-hero-options .block span {
    margin: 0 0 1.5em;
    font-size: 1.1rem;
    line-height: 1.5;
    font-size: 0.9em;
    transition: inherit
}

.document-hero-options .block span:last-child {
    margin-bottom: 0
}

@media(max-width: 560px) {
    .document-hero-options .blocks.grid-3 {
        display: grid;
        margin-bottom: 1em;
        gap: 1em;
        grid-template-columns: 1fr 1fr 1fr
    }

    .document-hero-options .blocks.grid-3 .block {
        width: auto
    }
}

@keyframes bouncedelay {

    0%,
    80%,
    100% {
        transform: scale(0)
    }

    40% {
        transform: scale(1)
    }
}

.spinner {
    width: 70px;
    margin: 1.5em auto;
    text-align: center
}

.spinner>div {
    display: inline-block;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #4b62f9;
    animation: bouncedelay 1.4s infinite ease-in-out both
}

.spinner .bounce1 {
    animation-delay: -0.32s
}

.spinner .bounce2 {
    animation-delay: -0.16s
}

.document-steps {
    margin-bottom: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
    .document-steps {
        margin-bottom: 4rem
    }
}

.document-steps.full-width {
    padding-top: calc(1.425rem + 2.1vw);
    padding-bottom: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .document-steps.full-width {
        padding-top: 3rem;
        padding-bottom: 3rem
    }
}

.document-steps.full-width.dark {
    background-color: #292929;
    color: #fff
}

.document-steps.full-width.dark>.wrap>p {
    border-right: 1px solid rgba(255, 255, 255, .25)
}

.document-steps.full-width.dark li {
    display: flex;
    justify-content: space-between
}

.document-steps.full-width.dark li span {
    flex: 0 0 auto;
    margin-top: -.2142857143em;
    margin-right: .2142857143em
}

.document-steps.full-width.dark li>div {
    flex: 1 1 auto
}

.document-steps.full-width.light {
    border-top: 1px solid #f2f2fb;
    border-bottom: 1px solid #f2f2fb;
    background-color: #fcfcff
}

.document-steps.full-width.light>.wrap>p {
    font-size: calc(1.325rem + 0.9vw)
}

@media (min-width: 1200px) {
    .document-steps.full-width.light>.wrap>p {
        font-size: 2rem
    }
}

.document-steps.full-width.light span {
    margin-bottom: .2142857143em
}

.document-steps.full-width>.wrap {
    width: 100%;
    max-width: 73.5em;
    margin: 0 auto;
    padding-right: .75em;
    padding-left: .75em;
    display: flex;
    align-items: center;
    max-width: 80em
}

.document-steps.full-width>.wrap>p {
    flex: 0 0 auto;
    width: 10em;
    margin-right: calc(1.425rem + 2.1vw);
    margin-bottom: 0;
    padding-right: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .document-steps.full-width>.wrap>p {
        margin-right: 3rem;
        padding-right: 3rem
    }
}

.document-steps.full-width ol {
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    gap: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .document-steps.full-width ol {
        gap: 3rem
    }
}

.document-steps.in-content.dark ol {
    background-color: #292929;
    color: #fff
}

.document-steps.in-content.light ol {
    border: 1px solid #f2f2fb;
    background-color: #fcfcff
}

.document-steps.in-content>.wrap>p {
    margin-bottom: .75em;
    font-size: calc(1.325rem + 0.9vw)
}

@media (min-width: 1200px) {
    .document-steps.in-content>.wrap>p {
        font-size: 2rem
    }
}

.document-steps.in-content ol {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 1.5em .75em;
    gap: calc(1.325rem + 0.9vw) 1.5em;
    border-radius: .75em
}

@media (min-width: 1200px) {
    .document-steps.in-content ol {
        gap: 2rem 1.5em
    }
}

.document-steps.in-content span {
    margin-bottom: .2142857143em
}

.document-steps.dark li span {
    color: rgba(255, 255, 255, .25)
}

.document-steps.dark li p {
    font-size: 1rem
}

.document-steps.dark li p:first-child {
    margin-bottom: .25em;
    font-weight: bold;
    font-size: 1.25rem
}

.document-steps.light li p {
    font-size: 1rem
}

.document-steps.light li p:first-child {
    margin-bottom: 0;
    font-weight: 600;
    font-size: calc(1.275rem + 0.3vw)
}

@media (min-width: 1200px) {
    .document-steps.light li p:first-child {
        font-size: 1.5rem
    }
}

.document-steps.light li p:first-child:after {
    display: block;
    width: 2rem;
    height: 2px;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
    background-color: #4b62f9;
    content: ""
}

.document-steps.light li p br {
    display: none
}

.document-steps.light span {
    color: #4b62f9
}

.document-steps>.wrap>p {
    font-weight: bold
}

.document-steps span {
    display: block;
    font-weight: bold;
    font-size: calc(1.475rem + 2.7vw);
    line-height: 1;
    -webkit-user-select: none;
    user-select: none
}

@media (min-width: 1200px) {
    .document-steps span {
        font-size: 3.5rem
    }
}

@media(max-width: 768px) {
    .document-steps.full-width.dark>.wrap>p {
        border-right: none
    }

    .document-steps.full-width>.wrap {
        display: block
    }

    .document-steps.full-width>.wrap>p {
        width: 100%;
        margin-right: 0;
        margin-bottom: .75em;
        padding-right: 0;
        font-size: calc(1.325rem + 0.9vw)
    }

    @media (min-width: 1200px) {
        .document-steps.full-width>.wrap>p {
            font-size: 2rem
        }
    }
}

@media(max-width: 560px) {
    .document-steps.full-width ol {
        display: grid;
        justify-content: flex-start;
        gap: calc(1.325rem + 0.9vw) 1.5em
    }

    @media (min-width: 1200px) {
        .document-steps.full-width ol {
            gap: 2rem 1.5em
        }
    }

    .document-steps.in-content ol {
        grid-template-columns: 1fr
    }
}

.document-meta {
    margin-bottom: calc(1.325rem + 0.9vw);
    color: #757575;
    font-size: 1rem
}

@media (min-width: 1200px) {
    .document-meta {
        margin-bottom: 2rem
    }
}

.document-meta svg {
    fill: #2ecc40;
    width: 1em;
    height: 1em;
    vertical-align: middle
}

.document-meta a {
    border: none;
    color: inherit;
    text-decoration: underline
}

.document-state-select {
    margin-top: calc(1.425rem + 2.1vw);
    margin-bottom: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .document-state-select {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

.document-state-select header {
    display: flex;
    align-items: center;
    margin-bottom: 1em
}

.document-state-select h3 {
    margin-bottom: 0
}

.document-state-select .inner {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    padding: 1.5em
}

.document-state-select ul {
    margin: 0;
    padding: 0;
    overflow: initial;
    columns: 4;
    font-size: 1rem
}

.document-state-select ul li {
    list-style-type: none
}

.document-state-select li {
    margin-bottom: 1.25em;
    line-height: 1.15
}

.document-state-select li:last-child {
    margin-bottom: 0
}

.document-state-select a {
    display: inline-block
}

@media(max-width: 767px) {
    .document-state-select ul {
        columns: 3
    }
}

@media(max-width: 560px) {
    .document-state-select ul {
        columns: 2
    }
}

.additional-documents {
    margin-top: calc(1.425rem + 2.1vw);
    margin-bottom: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .additional-documents {
        margin-top: 3rem;
        margin-bottom: 3rem
    }
}

.additional-documents header {
    display: flex;
    align-items: center;
    margin-bottom: 1em
}

.additional-documents h3 {
    margin-bottom: 0
}

.additional-documents .inner {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    padding: 1.5em
}

.additional-documents article {
    margin-bottom: 1.5em;
    padding-bottom: 1em;
    border-bottom: 1px solid #bdbdbd
}

.additional-documents article:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none
}

.additional-documents h4 {
    margin-bottom: .25em
}

.additional-documents p {
    font-size: 1rem
}

.additional-documents footer {
    display: flex;
    align-items: center
}

.additional-documents .btn-download+.btn-download {
    margin-left: 1.5em
}

.document-related {
    margin-top: calc(1.725rem + 5.7vw)
}

@media (min-width: 1200px) {
    .document-related {
        margin-top: 6rem
    }
}

.document-related header {
    display: flex;
    align-items: center;
    margin-bottom: 1em
}

.document-related header p {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: bold;
    font-size: calc(1.335rem + 1.02vw);
    line-height: 1.15
}

@media (min-width: 1200px) {
    .document-related header p {
        font-size: 2.1rem
    }
}

.document-related .btn-link {
    flex: 0 0 auto;
    margin-left: 1.5em
}

.document-related .inner {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    padding: 1.5em
}

.document-related .inner.has-columns {
    columns: 2
}

.document-related .inner>div {
    margin-bottom: calc(1.35rem + 1.2vw);
    break-inside: avoid
}

@media (min-width: 1200px) {
    .document-related .inner>div {
        margin-bottom: 2.25rem
    }
}

.document-related .inner>div:last-child {
    margin-bottom: 0
}

.document-related .inner p {
    margin-bottom: 1.2em;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 1.15
}

.document-related ul {
    margin: 0 0 1.5em;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-left: 1.25em;
    overflow: hidden;
    font-size: 1rem
}

.document-related ul:last-child {
    margin-bottom: 0
}

.document-related li {
    margin-bottom: 1.25em;
    list-style-type: disc
}

.document-related li:last-child {
    margin-bottom: 0
}

@media(max-width: 767px) {
    .document-related .inner.has-columns {
        columns: 1
    }
}

.document-related-v2 {
    margin-top: calc(1.725rem + 5.7vw)
}

@media (min-width: 1200px) {
    .document-related-v2 {
        margin-top: 6rem
    }
}

.document-related-v2 header {
    margin-bottom: 1em
}

.document-related-v2 p {
    margin-right: auto;
    margin-bottom: 0;
    font-weight: bold;
    font-size: calc(1.335rem + 1.02vw);
    line-height: 1.15
}

@media (min-width: 1200px) {
    .document-related-v2 p {
        font-size: 2.1rem
    }
}

.document-related-v2 ul {
    margin: 0 0 1.5em;
    font-size: 1.1rem;
    line-height: 1.5;
    padding-left: 1.25em;
    overflow: hidden
}

.document-related-v2 ul:last-child {
    margin-bottom: 0
}

.document-related-v2 ul li {
    margin-bottom: .75em;
    list-style-type: disc
}

.document-related-v2 ul li::marker {
    color: #4b62f9
}

.document-related-v2 ul li:last-child {
    margin-bottom: 0
}

.document-sidebar {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    padding: 1.5em
}

.document-sidebar .wprPreviewDoc {
    cursor: pointer
}

.document-sidebar img {
    display: block;
    width: 100%;
    max-width: none;
    margin: 0 auto .75em
}

.document-sidebar .btn-bordered {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border-color: #4b62f9;
    color: #4b62f9;
    text-transform: none
}

.document-sidebar h4 {
    margin-bottom: 1em;
    font-size: 1.25rem;
    text-align: center
}

.document-sidebar p {
    font-size: 0.9rem;
    text-align: center
}

.document-sidebar .document-hero-dropdown {
    display: block
}

.document-sidebar .document-hero-dropdown.has-document-select.has-state-select .document-select {
    margin-bottom: .5em
}

.document-sidebar .document-hero-dropdown .styled-select {
    margin: 0 auto 1.25em
}

.document-sidebar .document-hero-dropdown .btn-solid {
    width: 100%
}

.sidebar-downloads {
    display: flex;
    align-items: center;
    margin-bottom: 1em
}

.sidebar-downloads .btn {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    flex: 1 1 0;
    justify-content: center;
    padding: .5em .25em;
    color: inherit
}

.sidebar-downloads .btn+.btn {
    margin-left: .75em
}

.sidebar-downloads .btn:hover {
    border-color: #4b62f9;
    color: #4b62f9
}

@media(min-width: 769px) {
    #js-document-hero .sidebar-downloads {
        display: none
    }
}

@media(max-width: 768px) {
    .wpr_mobile_featured_top .document-hero img {
        box-shadow: 0 4px 32px rgba(10, 39, 96, .07)
    }

    .wpr_mobile_featured_top aside.sidebar-primary {
        display: none
    }
}

.is-preview {
    position: fixed;
    top: 0;
    width: 100%;
    overflow: hidden
}

.document-preview-popup {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.document-preview-popup .bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 50, 80, .75);
    color: inherit;
    text-decoration: none
}

.document-preview-popup .btn-close {
    z-index: 100;
    position: absolute;
    top: calc(var(--wp-admin--admin-bar--height, 0px) + .75em);
    right: 1em
}

.document-preview-popup .btn-close svg {
    fill: #fff;
    display: block;
    width: 1.5em;
    height: 1.5em;
    opacity: .5
}

.document-preview-popup .btn-close span {
    display: block;
    color: #fff;
    text-transform: uppercase;
    opacity: .5
}

.document-preview-popup .wrap {
    width: 100%;
    max-width: 73.5em;
    margin: 0 auto;
    padding-right: .75em;
    padding-left: .75em;
    display: flex;
    position: relative;
    padding-top: 3em;
    padding-bottom: calc(1.425rem + 2.1vw)
}

@media (min-width: 1200px) {
    .document-preview-popup .wrap {
        padding-bottom: 3rem
    }
}

.document-preview-popup .inner {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    background-color: #fff
}

.document-preview-popup h2 {
    flex: 0 0 auto;
    margin-bottom: 1.5rem
}

.document-preview-popup .image {
    border: 1px solid #bdbdbd;
    border-radius: .5rem;
    flex: 1 1 0;
    margin-bottom: 1.5em;
    overflow-y: scroll
}

.document-preview-popup img {
    display: block;
    margin: 0 auto
}

.document-preview-popup footer {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    gap: calc(1.525rem + 3.3vw)
}

@media (min-width: 1200px) {
    .document-preview-popup footer {
        gap: 4rem
    }
}

.document-preview-popup footer .btn {
    display: inline-flex;
    flex: 0 0 auto;
    align-items: center
}

.document-preview-popup footer .btn svg {
    display: block;
    flex: 0 0 auto;
    width: 1.25em;
    height: 1.25em;
    margin-left: .5em
}

@media(min-width: 768px) {
    .document-preview-popup footer p {
        margin-bottom: 0
    }
}

@media(max-width: 1024px) {
    .document-preview-popup svg {
        fill: #4b62f9 !important
    }

    .document-preview-popup .btn-close span {
        display: none
    }
}

@media(max-width: 767px) {
    .document-preview-popup footer {
        display: block
    }

    .document-preview-popup footer p {
        margin-bottom: 1em;
        font-size: 0.9rem
    }
}

.document-mobile-cta {
    visibility: hidden;
    z-index: 98;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding-top: .75em;
    padding-bottom: .75em;
    transform: translateY(100%);
    background-color: #fff;
    box-shadow: 0 -0.5em .75em rgba(41, 41, 41, .08);
    opacity: 0;
    transition: all .3s ease-in-out
}

.document-mobile-cta.show {
    visibility: visible;
    transform: none;
    opacity: 1
}

.document-mobile-cta>.wrap {
    width: 100%;
    max-width: 73.5em;
    margin: 0 auto;
    padding-right: .75em;
    padding-left: .75em
}

.document-mobile-cta .document-hero-dropdown {
    margin-bottom: 0
}

.document-mobile-cta .styled-select {
    display: none
}

@media(min-width: 769px) {
    .document-mobile-cta {
        display: none
    }
}